<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- The Modal -->
    <div class="modal" id="detailModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Submit Your Details</h4>
                    <button type="button" class="btn-close" data-bs-toggle="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <form action="#">
                        <div class="row g-2">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input id="email1" type="email" class="form-control" placeholder="Your email">
                                    <label for="email1">Email address</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select id="select1" class="form-select">
                                        <option>Crazy Rich Asian - $500</option>
                                        <option>Emperor's Feast - $100</option>
                                        <option>Eat like Sultan - $100</option>
                                        <option>Maharaja Meal - $100</option>
                                    </select>
                                    <label for="select1">Pick a tour</label>
                                </div>
                            </div>

                        </div>


                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal">Close</button>
                    <button type="button" class="btn btn-primary">Checkout</button>
                </div>

            </div>
        </div>
    </div>


</body>

</html>