<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/FoodTour.css" />
    <title>Emperor's Feast</title>
</head>

<body th:fragment="emperorTour">
<div th:insert="~{common/navbar :: navbar}" id="navbar"></div>

<section>
    <div class="row padding50 bgColor">
        <div class="col-lg-6">
            <div class="card">
                <div><img src="images/Chinatown.jpg" alt="China Town"></div>
                <div class="imageFlexContainer">
                    <div class="col-sml-6"><img src="images/ChineseMan.jpg" alt="SuperCar"></div>
                    <div class="col-sml-6"><img src="images/RoastedDuck.jpg" alt="RoastedDuck"></div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Emperor's Feast Tour</h1>
                    </br>
                    <h2 class="card-text">$100</h2>
                    <h3>This tour encompasses:</h3>
                    </br>
                    <li class="card-text">Visit the Buddha Tooth Relic Temple & Museum</li>
                    </br>
                    <p class="size20">The Buddha Tooth Relic Temple & Museum's distinctive Tang Dynasty-inspired architecture makes it easy to spot as you stroll down South Bridge Road.
                        </br>
                        </br>
                        Both a museum and a place of worship, visitors are free to explore the temple’s repository
                              of relics and cultural artefacts.
                        </br>
                        </br>
                        We recommend taking a quick breather at the temple’s tranquil rooftop garden, with its distinctive pagoda and prayer wheel.</p>
                    </br>
                    <li class="card-text">Food</li>
                    </br>
                    <p class="size20">First Dish on the list of must try food in Chinatown Singapore is a typical delicious dish of this neighborhood: Roasted Duck at Tiong Bahru Meng Kee Stall.
                        This is a char siu roast duck (Cantonese Roast Duck), duck meat when cooked will be soft and
                        juicy without drying out. It is usually served with vegetables such as broccoli, tomatoes.
                        If you are a fan of roasted dishes, you should definitely try this when you come to Chinatown.
                        </br>
                        </br>
                        Visit Chinatown Complex Food Centre which is one of the largest hawker centres in Singapore with over 260 stalls offering an eclectic mix of hawker food.
                        </br>
                        </br>
                        If you’re in the mood to party, the district is also home to Potato Head Singapore. Located within an iconic heritage building, this multi-concept space boasts a rooftop bar, cocktail lounge and restaurant, with a vibrant calendar of live DJ performances.
                    </p>
                    </br>
                    <h5 class="card-text">Things to note</h5>
                    <p>All packages are fixed dated, direct entry tickets, unless otherwise stated
                        that reservation is required. Fixed dated vouchers are valid only on the selected date (and
                        time if applicable) only. Tour groups for the day would depend on the number of bookings.
                        Terms and conditons apply.</p>
                    <button type="button" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#detailModal" data-bs-whatever="@mdo">
                        Book Now
                    </button>
                </div>
            </div>
        </div>


    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>



<!--    <script>-->
<!--        $(document).ready(function () {-->
<!--            $("#navbar").load("common/navbar.html");-->
<!--            $("#footer").load("common/footer.html");-->
<!--            $("#Modal").load("common/foodTourDetails.html");-->
<!--        });-->

<!--        const myModal = document.getElementById-->
<!--    </script>-->

<div th:insert="~{common/footer :: footer}" id="footer"></div>
<div th:insert="~{common/foodTourDetails :: foodTourDetails}" id="foodTourDetails"></div>
</body>



</html>